@charset "UTF-8";

body {background-color: rgb(101, 231, 188);
font-family: Arial, Helvetica, sans-serif;

}



h1 {color: rgb(4, 99, 4);}
h1#principal {text-align: center;
background-color: azure;}

h2 {color: rgb(30, 122, 122);}

.basico {color: blueviolet;}

.intermediario {color: rgb(255, 137, 27);}

.destaque {color: rgb(180, 180, 16);}